 
<section class="auth-title">
    <h2>Autenticação</h2>
</section>

<section class="auth-container">

    {if="$error != ''"}
    <div class="alert error">
        {$error}
    </div>
    {/if}
    
    <form class="auth-form" action="/login" method="post">
        <h3>Acessar</h3>

        <label for="login">E-mail *</label>
        <input type="text" id="login" name="login" required>

        <label for="senha">Senha *</label>
        <input type="password" id="senha" name="password" required>

        <div class="form-actions">
            <button type="submit">Login</button>
            <label class="remember">
                <input type="checkbox" name="rememberme"> Manter conectado 
            </label>
        </div>
        
        <p class="link">
            <a href="/forgot">Esqueceu a senha?</a>
        </p>
    </form> 
    
    {if="$errorRegister != ''"}
    <div class="alert error">{$errorRegister}</div>
    {/if}
    
    <form class="auth-form" action="/register" method="post">
        <h3>Criar conta</h3>
        
        <label for="nome">Nome Completo *</label>
        <input type="text" id="nome" name="name" required value="{$registerValues.name}">

        <label for="email">E-mail *</label>
        <input type="email" id="email" name="email" required value="{$registerValues.email}">
        
        <label for="phone">Telefone</label>
        <input type="text" id="phone" name="phone" value="{$registerValues.phone}">    
    
        <label for="senha">Senha *</label>
        <input type="password" id="senha" name="password" required>
        
        <div class="form-actions">
            <button type="submit">Criar Conta</button>
        </div>        
    </form>               
</section>