
<section class="account-title">
    <h2>Minha Conta</h2>
</section>

<section>
    <aside>
        {include="profile-menu"}
    </aside>

    <section>
        {if="$changePassError != ''"}
            <div>{$changePassError}</div>
        {/if}
        
        {if="$changePassSuccess != ''"}
            <div class="alert alert-success">{$changePassSuccess}</div>
        {/if}
      
        <form action="/profile/change-password" method="post" class="account-form">
            <div class="form-group">
                <label for="current_pass">Senha Atual</label>
                <input type="password" id="current_pass" name="current_pass">
            </div>
            
            <div class="form-group">
                <label for="new_pass">Nova Senha</label>
                <input type="password" id="new_pass" name="new_pass">
            </div>

            <div class="form-group">
                <label for="new_pass_confirm">Confirme a Nova Senha</label>
                <input type="password" id="new_pass_confirm" name="new_pass_confirm">
            </div>

            <button type="submit" class="btn-primary">Salvar</button>
        </form>
    </section>
</section>