<section class="account-title">
    <h2>Minha Conta</h2>
</section>

<section class="account-content">
    <aside class="account-menu">
        {include="profile-menu"}
    </aside>

    {if="$orders != NULL && count($orders) > 0"}
    <table class="account-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Valor Total</th>
                <th>Status</th>
                <th>Endereço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {loop="$orders"}
            <tr>
                <td>{$value.idorder}</td>
                <td>R${function="formatPrice($value.vltotal)"}</td>
                <td>{$value.desstatus}</td>
                <td>{$value.desaddress}, {$value.desdistrict}, {$value.descity} - , {$value.desstate} CEP: {$value.deszipcode}</td>
                <td class="order-actions">
                    <a href="/order/{$value.idorder}" class="btn btn-success">Imprimir Boleto</a>
                    <a href="/profile/orders/{$value.idorder}" class="btn btn-default">Detalhes</a>
                </td>
            </tr>
            {/loop}
        </tbody>
    </table>
    {else}
    <div class="alert alert-info">
        Nenhum pedido foi encontrado.
    </div>
    {/if}
</section>