<style>
@media print {
    .header-area,
    .site-branding-area,
    .sticky-wrapper,
    .footer-top-area,
    .footer-bottom-area,
    .account-menu,
    .print-button,
    .accout-title {
        display:none!important;
    }

    .account-content {
        width: 100% !important;
    }
}
</style>

<section class="account-content">
    <h3 class="account-heading">Detalhes do Pedido Nº {$order.idorder}</h3>

    <table class="order-table">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {loop="$products"}
        <tr>
          <td>
            {$value.desproduct} <strong>x {$value.nrqtd}</strong>
          </td>
          <td>R${$value.vltotal}</td>
        </tr>
        {/loop}
      </tbody>
      <tfoot>
        <tr>
          <th>Subtotal</th>
          <td>R${$cart.vlsubtotal}</td>
        </tr>
        <tr>
          <th>Frete</th>
          <td>R${$cart.vlfreight}</td>
        </tr>
        <tr>
          <th>Total</th>
          <td><strong>R${$cart.vltotal}</strong></td>
        </tr>
      </tfoot>
    </table>

    <div class="print-button">
      <button onclick="window.print()">Imprimir</button>
    </div>
  </section>
</section>